<div class="container">
    <h1>Kontaktinformationen</h1>
    <address>
        <p><strong>Zoran Petrovic</strong></p>
        <p>Im Vösendorfring 60</p>
        <p>64380 Roßdorf</p>
        <p>Mail: <a href="mailto:zp@outlook.de" target="_top">zp@outlook.de</a></p>
        <p>Mobil: <a href="tel:+4917612312313">+4917612312313</a></p>
    </address>
    <iframe src="games/rj/index.html" style="border:0px #000000 none;" name="Game name" scrolling="no" frameborder="1" marginheight="px" marginwidth="320px" height="320px" width="480px"></iframe>
</div>